*{
margin: 0;
padding: 0;
}
@font-face{
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-light.ttf");
}
@font-face{
    font-family: "Dongle-regular";
    src: url("Dongle/Dongle-light.ttf");
}
@font-face{
    font-family: "Dongle-bold";
    src: url("Dongle/Dongle-light.ttf");
}
header{
    display: flex;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}
.logo img{
    max-width: 15%;
}
.nav-menu ul{
    display: flex    
}

.nav-menu li{
    list-style: none;
    margin: 20px;
}
.nav-menu li:last-child{
    margin-right: 0;
}
.nav-menu a{
    text-decoration:none ;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    color: #333;
    transition: all ease 0.5s;


}
.nav-menu a:hover{
    color: #ff7f50;

}
.hero{
    position: relative;
    height: 600px;
   overflow: hidden;
}
.hero-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
}
.hero-content h1{
    font-family: "Dongle-bold";
    font-size: 3rem;
}
.hero-content p{
    font-family: "Dongle-bold";
    font-size: 1.5rem;
    margin-top: 10px;
margin-bottom: 30px;
}
.hero-button{
    text-decoration: none;
    color: rgb(240, 248, 255);
    background-color: #c93b07;
    padding: 12px 30px;
    border-radius: 50%;
    font-family: "Dongle-bold";
    font-size: 1.5rem;
    transition: all ease 0.3s ;
    
}
.hero-button:hover{
    background-color: #333;
}
.destination{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
     margin: 40px 80px; 
    text-align: center;
}
.destination-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
} 
.destination-item h2{
    font-size:1rem;
    margin: 40px;
    
}
.destination-item p{
    font-size: 1.4rem;
    font-family: "Dongle-bold";
}
.win{
    margin:30px;
}
.about{
    text-align: center;
    padding: 80px;
}
.about h3{
    font-family: "Dongle-bold";
    font-size: 3rem;
}
.about p{
    font-family: "Dongle-bold";
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom:auto;
    margin-top: 10px;
}
.team-member h4{
    font-family: "Dongle-bold";
    font-size: 3rem;
}
.team-member{
    display: flex;
    gap: 30px;
    margin: 100px;
    justify-content: space-evenly;
}

.team-member img{
   
    width: 300px;
    height: 300px;
    
    object-fit: cover;
}
.keno{
    font-size: 1.3rem;
margin: 5px;
}
.contact-info{
    font-size: 1.5rem;
}
